:root {
  --darkBackground: #1AB0C3;
  --lightBackground: #AFEDF4;
  --darkText: #117a88; 
}

body {
  font-size: 18px;
  color: #0d555f;
}

/* Combined Sections */
#history,
.current-weather-container,
.forecast-data {
  border: 1px solid var(--darkText);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,.15);
}

/* Header Section */
.weather-header {
  background-color: var(--darkBackground);
  color: #FFFFFF;
}

.content {
  background-color: var(--lightBackground);
  height: auto;
  padding-bottom: 10px;
}

.allButFooter {
  min-height: calc(100vh - 200px);  /* to make my footer stick to the bottom of the page */
}

/* Left container Style */
#form-heading {
  color: var(--darkText);
}

#search-input {
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,.15);
}

#search-button {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,.15);
  border: 1px solid #117a88;
  background-color: var(--darkBackground);
  color: #ffffff;
  border-radius: 5rem;
  cursor: pointer;
  margin:5px
}

#search-button:hover,
#delete-history:hover {
  background-color: #AFEDF4;
  border: 1px solid #117a88;
  color: #117a88;
}

.searched-city,
#delete-history {
  cursor: pointer;
}

.searched-city:hover {
  background-color: #AFEDF4;
}

#delete-history {
  background-color: var(--darkBackground);
  color: #ffffff;
}

/* Right Container Style */
.current-weather-container {
  margin-top: 10px;
  background-color: var(--lightBackground);
}

.heading-container {
  display: flex;
  margin-left: 10px;
}

.city-name,
.country,
.date,
.today {
  color: var(--darkText);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 5px;
}

.forecast-row {
  margin: 0px;
}

.forecast-date {
  color: var(--darkText);
}

.forecast-data {
  /* width: 20%;
  margin: 10px; */
  border: 1px solid var(--darkText);
  padding: 10px;
  background-color: var(--lightBackground);
}

.forecast-icon {
  max-width: 100px;
  max-height: 100px;
}

#forcast {
  display: flex;
  width: 100%;
  margin: 10px;
  padding: 0 15px;
}

.heading-5-day {
  width: 100%;
  color: var(--darkText);
}  

/* Footer Styles */
footer {
  background-color: var(--darkBackground);
  color: #FFFFFF;
  height: 120px;
}

/* Media Queries */
@media only screen and (max-width:320px) {
  .forecast-date{
    font-size: 8vw; /* used vw so the text gets smaller in smaller screens*/
  }
  .heading-container {
    flex-direction: column;
  }
  .city-name,
  .country,
  .today {
    font-size: 5vw;
  }
}

@media only screen and (min-width:320px) and (max-width:576px) {
  .forecast-date{
    font-size: 5vw;
  }
  .heading-container {
    flex-direction: column;
  }
  .city-name,
  .country,
  .today {
    font-size: 8vw;
  }
}

@media only screen and (min-width:992px) and (max-width:1362px) {
  .forecast-date {
    font-size: 1.5vw;
  }

  .data-element {
    font-size: 1.2vw;
  }

  #search-button {
    margin: 20px 0;
  }
}

@media only screen and (min-width:0px) and (max-width:992px) {
  .forecast-data {
    margin-bottom: 20px;
  }
}