/* Right Container Style */
.current-weather-container {
  border: 1px solid #000000;
  padding: 5rem 0;
  margin-top: 10px;
}

.heading-container {
  display: flex;
  margin-left: 10px;
}

.city-name,
.country,
.date {
  color: rgb(21, 43, 123);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 5px;
}

/* .city-name {
  width: 30%;
  background-color: red;
}

.date {
  width: 70%;
  background-color: blue;
}  */

.weather-icon {
  color: purple;
}

.forecast-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.forecast-data {
  width: 20%;
  background-color: blueviolet;
  margin: 10px;
  
}

#forcast {
  display: flex;
  width: 100%;
  margin: 10px;
}

.heading-5-day {
  display: block;
  width: 100%;
}  


/* TODO: Delete this later. The styling is just for me to see the sections I'm working on.*/
.aside-container {
  background-color: coral;
}

.right-container {
  background-color: rgb(13, 211, 138);
}